.auth-form {
  max-width: 300px;
}

.trip-form {
  max-width: 400px;
}

.trip-card {
  max-width: 500px;
}

.initials {
  padding: .5rem;
  margin: .5rem;
  background-color: lightblue;
  border-radius: 50%;
}
